@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

:root{
  --cor1: #F20519;
  --cor2: #F4C4B4;
  --cor3: #543294;
  --cor4: #034AA6;
  --cor5: #1FBBE6;
}

body{
  font-family: 'Contrail One', cursive;
  color: white;
  background-color: black;
}
.box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.box_content{
  margin: 10px;
  font-size: 1.5em;
}
.box_content > h1{
  font-size: 3.5em;
}