@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

:root{
  --cor1: #FDBA14;
  --cor2: #034AA6;
  --font1: 'Contrail One', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font1);
  background: linear-gradient(to bottom,var(--cor2),#000);
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--cor1);
  padding: 10px;
}

@media (max-width: 450px){
  
}